# Dependencies
node_modules/

# Build output
dist/
out/

# Logs
*.log
boot.log

# Environment
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.user

# Electron packager cache
.cache/



.npmrc